@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Lora-Regular.ttf") format("ttf");
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Lora-Medium.ttf') format("ttf");
}

body {
  margin: 0 auto;
  width: 1440px;
  font-family: 'Lora', Arial,
    sans-serif;
    color: #1F1E1C;
    font-weight: 400;
    line-height: 150%;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



